* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background-image: url('wp.jpg');
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Menerapkan style pada navigation bar atas */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Menerapkan style di link pada navigation bar atas */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Menguah warna saat navbar disentuh */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Buat dua kolom berbeda yang mengapung di sebelah satu sama lain
   */
  /* Kolom kiri */
  .kolomkiri {   
    float: left;
    width: 100%;
  }
  
  img {border-radius: 8px;}
  
  
  /* Gambar */
  .gambar {
    color: #ddd;
    background-color: rgb(51, 51, 51);
    width: 100%;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Menambahkan efek gambar pada artikel */
  .kartunama {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Menghapus float setelah kolom */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  
  /* Responsive layout - Saat lebar layar kurang dari 800px, buat dua kolom bertumpuk satu sama lain alih-alih bersebelahan */
  @media screen and (max-width: 800px) {
    .kolomkiri, .kolomkanan {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - Saat lebar layar kurang dari 400px, buat navigasi  link saling bertumpukan, bukan bersebelahan */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }